body{
    background-color: #84c1ee;

    h1 {
        color: rgb(144, 30, 30);
        font-family: tahoma;
        font-size: 300%;
      }

      p {
        color: rgb(144, 30, 30);
        font-family: tahoma;
        font-size: 160%;
      }

      h2 {
        color: rgb(144, 30, 30);
        font-family: tahoma;
        font-size: 140%;
      }
      
}